ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.data-container {
	border: 1px solid #ccc;
	float: left;
	margin: 5px;
	padding: 5px;
}

div#schedule {
	clear: both;
	display: none;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid #aaa;
}

.book-header {
	font-weight: bold;
}

.page-spacer {
	visibility: hidden;
}
