body {
	font-family: sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
input[type=checkbox] + label,
input[type=radio] + label {
	padding-left: 0.3em;
}
div.data-container {
	border: 1pt solid #cccccc;
	float: left;
	margin: 0.2em;
	padding: 0.2em;
}
div.data-container h2 {
	margin-top: 0;
}
input[type=number] {
	width: 4em;
}
div#schedule {
	clear: both;
	display: none;
}
table {
	border-collapse: collapse;
}
td {
	border: 1pt solid #aaaaaa;
}
.book-header {
	font-weight: bold;
}
@media print {
	h1,
	#options {
		display: none;
	}
	#schedule {
		font-size: 50%;
		column-count: 4;
        column-gap: 0.125in;
        width: 6.75in;
	}
	.page-counts {
		display: none;
	}
}